@each $key, $value in $text-alignments {
  .text-#{$key} {
    text-align: $value;
  }
}

%flex-layout {
  display: flex;
  list-style: none;
}

.flex-row {
  @extend %flex-layout;
  flex-direction: row;
}

.flex-column {
  @extend %flex-layout;
  flex-direction: column;
}

@each $key, $value in $flex-justifications {
  .justify-#{$key} {
    justify-content: $value;
  }
}

@each $key, $value in $flex-alignments {
  .align-#{$key} {
    align-items: $value;
  }
}
