%navbar-flex {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navbar {
  @extend %navbar-flex;
  padding: 1.8rem;

  .container {
    width: 100%;
    @extend %navbar-flex;
  }

  &__menu {
    width: 100%;
  }

  &__brand {
    width: 48px;
  }

  &__toggler {
    font-size: 1.5rem;
    align-self: center;
  }

  &__menu {
    border-top: 1px solid $gray-10;
  }

  &__menu-list {
    list-style-type: none;
    padding-left: 0;

    > li {
      border-bottom: 1px solid $gray-10;
      padding: 16px;
    }
  }
}

@include breakpoint-md {
  .navbar {
    padding: $navbar-vertical-padding;

    &__menu {
      border: 0;
      flex-grow: 1;
      width: auto;
      max-height: fit-content !important;
      opacity: 1 !important;
      display: flex;
      justify-content: space-between;
      margin-left: 1.6rem;
    }

    &__menu-list {
      display: flex;
      align-items: center;

      > li {
        border: 0;
        padding: 1.6rem;
      }
    }

    &__toggler {
      display: none;
    }
  }
}
