@use "sass:math";
@import "./mixins";

.row {
  display: flex;
  flex-flow: row wrap;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@include breakpoint-sm {
  @for $i from 1 through $grid-columns {
    .col-sm-#{$i} {
      display: block;
      flex-grow: 0;
      width: math.div($i * 100%, $grid-columns);
    }
  }

  .col-sm-hidden {
    display: none;
  }

  .container {
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
  }
}

@include breakpoint-md {
  @for $i from 1 through $grid-columns {
    .col-md-#{$i} {
      display: block;
      flex-grow: 0;
      width: math.div($i * 100%, $grid-columns);
    }
  }

  .col-md-hidden {
    display: none;
  }

  .container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
  }
}

@include breakpoint-lg {
  @for $i from 1 through $grid-columns {
    .col-lg-#{$i} {
      display: block;
      flex-grow: 0;
      width: math.div($i * 100%, $grid-columns);
    }
  }

  .col-lg-hidden {
    display: none;
  }

  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }
}

@include breakpoint-xl {
  @for $i from 1 through $grid-columns {
    .col-xl-#{$i} {
      display: block;
      flex-grow: 0;
      width: math.div($i * 100%, $grid-columns);
    }
  }

  .col-xl-hidden {
    display: none;
  }

  .container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
  }
}

@include breakpoint-xxl {
  @for $i from 1 through $grid-columns {
    .col-xxl-#{$i} {
      display: block;
      flex-grow: 0;
      width: math.div($i * 100%, $grid-columns);
    }
  }

  .col-xxl-hidden {
    display: none;
  }

  .container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
  }
}
