// Font family
$font-family-heading: "Darker Grotesque", sans-serif;
$font-family-body: "Nunito", sans-serif;

// Colors
$primary: #339980 !default;
$secondary: #246b62 !default;
$gradient: linear-gradient(to right, $secondary, $primary);

$base-gray: #2f2d32;
$gray-75: #636265;
$gray-50: #979699;
$gray-25: #cccbcc;
$gray-10: #ebeaeb;
$gray-5: #f5f5f5;

$opacity-100: 1;
$opacity-75: 0.75;
$opacity-50: 0.5;
$opacity-25: 0.25;
$opacity-10: 0.1;
$opacity-5: 0.05;

$white: #fff;

$colors: () !default;
$colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "gradient": $gradient,
    "black": #000,
    "white": #fff,
    "green": #339980,
    "purple": #6b40cd,
  ),
  $colors
);

$grays: () !default;
$grays: map-merge(
  (
    "100": $base-gray,
    "75": $gray-75,
    "50": $gray-50,
    "25": $gray-25,
    "10": $gray-10,
    "5": $gray-5,
  ),
  $grays
);

// Font Sizes
$base-font-percent: 62.5% !default;
$base-font-size: 10px !default;
$multiplier: 1.8;

// Type Scale
$desktop-ratio: 1.414;
$tablet-ratio: 1.25;
$mobile-ratio: 1.125;

// Transition
$base-transition: all 0.3s ease;

// Border radius
$base-border-radius: 2.22rem;

// Buttons
$btn-content-gap: 0.88rem;
$btn-horizontal-padding: 3.2rem;
$btn-vertical-padding: 1.6rem;

// Grids
$grid-columns: 12;

// Navbar
$navbar_vertical-padding: 3.2rem;
$navbar_horizontal-padding: 3.2rem;

// Layout
$breakpoints: () !default;
$breakpoints: map-merge(
  (
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px,
    "xxl": 1400px,
  ),
  $breakpoints
);

$flex-justifications: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "between": space-between,
  "around": space-around,
);

$flex-alignments: (
  "stretch": stretch,
  "start": flex-start,
  "end": flex-end,
  "center": center,
);

$text-alignments: (
  "left": left,
  "right": right,
  "center": center,
  "justify": justify,
);
