.about {
  &__left {
    margin-bottom: 3.2rem;

    p {
      margin-bottom: 1.6rem;
      text-align: center;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 3.2rem;
  }

  &__right {
    display: none;
  }
}

@include breakpoint-lg {
  .about {
    &__left {
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        text-align: left;
      }
    }

    &__title {
      text-align: left;
    }

    &__right {
      display: initial;
    }
    &__image {
      margin: 0 auto;
    }
  }
}

@include breakpoint-xl {
  .about {
    .row {
      align-items: center;
    }
  }
}

.benefit {
  &__left,
  &__right {
    margin-bottom: 4.8rem;
  }
  &__heading {
    text-align: center;
    margin-bottom: 4.8rem;
  }

  &__header {
    display: flex;
    gap: 2.4rem;
    align-items: center;
    color: $secondary;
    margin-bottom: 2.4rem;
  }

  &__description {
    text-align: justify;
  }
}

@include breakpoint-md {
  .benefit {
    &__content {
      display: flex;
      gap: 4.8rem;
    }
  }
}

.testimonials {
  &__heading {
    margin-bottom: 5.6rem;
  }

  .row {
    gap: 3.2rem;
    align-items: center;
    justify-content: center;
  }

  .testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4.8rem;

    &__content {
      text-align: center;
      margin-bottom: 3.2rem;
    }

    &__client,
    &__image,
    &__client-info {
      display: flex;
      justify-content: center;
    }

    &__client {
      text-align: center;
    }
  }
}
