.intro {
  &__left {
    text-align: center;
  }

  &__right {
    display: none;
  }

  &__name {
    @extend .text-gradient;
    @extend .h3;
    margin-bottom: 1.6rem;
    font-weight: 300;
  }

  &__title {
    margin-bottom: 2.4rem;
    @extend .h1;
  }

  &__tagline {
    margin-bottom: 4.8rem;
  }
}

@include breakpoint-md {
  .intro {
    &__tagline {
      width: 560px;
      margin-left: auto;
      margin-right: auto;
    }

    &__cta {
      width: max-content;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@include breakpoint-lg {
  .intro {
    &__left {
      text-align: left;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    &__tagline {
      width: 480px;
      margin-left: 0;
    }

    &__cta {
      margin-left: 0;
    }

    &__image {
      display: inline-block;
      text-align: center;
      width: 300px;
    }

    &__right {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2.4rem;
    }

    &__social-icons {
      align-items: center;
      justify-content: center;
      display: flex;
      gap: 1.6rem;
    }
  }
}

@include breakpoint-xl {
  .intro {
    &__left {
      text-align: left;
    }

    &__tagline,
    &__cta {
      width: auto;
    }

    &__image {
      width: 400px;
    }
  }
}

@include breakpoint-xxl {
  .intro {
    &__image {
      width: 324px;
    }
  }
}

.clients {
  &__header {
    margin-bottom: 5.6rem;
  }

  &__heading {
    margin-bottom: 0.5rem;
  }

  &__list {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.6rem;
  }

  &__image {
    width: 150px;
    transition: $base-transition;

    &:hover {
      transform: scale(1.05);
    }
  }
}

@include breakpoint-sm {
  .clients {
    &__list {
      flex-direction: row;
      justify-content: center;
    }

    &__image {
      width: 150px;
    }
  }
}

@include breakpoint-md {
  .clients {
    &__list {
      flex-direction: row;
    }

    &__image {
      width: 250px;
    }
  }
}

.work-list {
  padding-bottom: 0;

  &__header {
    margin-bottom: 5.6rem;
  }
}

.work {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
  position: relative;

  &__content {
    padding: 3.2rem;
    font-weight: 300;
  }

  &__content-heading,
  &__content-description {
    color: #fff;
    text-align: center;
    font-weight: 300;
  }

  &__content-heading {
    margin-bottom: 1.6;
  }

  &__article-img img {
    display: block;
    width: 100%;
  }
}

@include breakpoint-md {
  .work {
    flex-direction: row;
    height: 656px;

    &:nth-of-type(odd) {
      margin-bottom: 8rem;
    }

    &:nth-of-type(odd) &__img {
      flex: 1;
      order: 2;

      img {
        align-self: end;
        height: 630px;
        object-fit: cover;
        position: relative;
        top: 13px;
        width: 457px;
        right: 0;
      }
    }

    &:nth-of-type(even) &__img {
      flex: 1;

      img {
        height: 630px;
        object-fit: cover;
        position: relative;
        top: 13px;
        width: 457px;
        right: -45px;
      }
    }

    &__content {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    &__content-description {
      max-width: 700px;
      margin: 0 auto;
      padding-left: 1.6rem;
      padding-right: 1.6rem;
    }
  }
}

@include breakpoint-xl {
  .work-list {
    padding-bottom: 0;
    gap: 7.52rem;
  }
  .work {
    &:nth-of-type(odd) {
      margin-bottom: 9.47rem;
    }

    &:nth-of-type(odd) &__img {
      flex: 1;
      order: 2;

      img {
        align-self: end;
        height: 800px;
        width: 800px;
        object-fit: cover;
        position: relative;
        top: -72px;
        right: 20px;
      }
    }

    &:nth-of-type(even) &__img {
      flex: 1;

      img {
        height: 800px;
        width: 800px;
        object-fit: cover;
        position: relative;
        top: -72px;
        left: 37px;
      }
    }
  }
}

.testimonial {
  display: none;
}

@include breakpoint-md {
  .testimonial {
    display: block;

    .container {
      display: flex;
      flex-direction: column;
      gap: 6.4rem;
      align-items: center;
      text-align: center;
    }

    &__content {
      color: $primary;
      font-weight: 300;
      width: 56rem;
    }

    &__client {
      display: flex;
      gap: 1.6rem;
      flex-direction: column;
      position: relative;
    }

    .testimonial__image {
      position: relative;

      picture {
        display: inline-block;

        &:nth-of-type(even) {
          position: relative;
          left: -18px;
        }
      }
    }

    .testimonial__client-info {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      .client-name {
        font-weight: 700;
      }
    }
  }
}

.talk {
  &__image {
    display: none;
  }

  &__heading,
  &__desc {
    margin-bottom: 3.2rem;
  }

  .container {
    justify-content: center;
  }
}

@include breakpoint-md {
  .talk {
    .btn-cta {
      width: max-content;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@include breakpoint-lg {
  .talk {
    &__image {
      display: flex;
      align-items: center;
    }

    &__heading,
    &__desc {
      text-align: left;
    }

    .btn-cta {
      margin: 0;
    }
  }
}

%footer-flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer {
  @extend %footer-flex;

  .top,
  .bottom {
    @extend %footer-flex;
  }

  .copyright,
  .privacy-notice > * {
    color: $primary;
    text-align: center;
  }

  .privacy-notice {
    display: flex;
    gap: 1.6rem;
  }

  .bottom {
    .social-media {
      @extend %footer-flex;
      flex-direction: row;
    }
  }
}

@include breakpoint-md {
  .footer {
    .top,
    .bottom {
      flex-direction: row;
      width: 100%;
    }

    .top {
      justify-content: center;
    }

    .bottom {
      justify-content: space-around;
    }
  }
}

@include breakpoint-lg {
  .footer {
    flex-direction: row;

    .bottom {
      justify-content: center;
    }
  }
}
